*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    display: flex;
    justify-content: center;
    background-color: #161616;
    border-radius: 10px;
    width: 70vw;

}
.container_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    height: 100%;
    padding: 5%;
}
.container_title p{
    color:#cdc8c8;
}
.container_header h1{
    font-family: bold;
    color:#FFFFFF;
    line-height: 80px;
    font-size: 8vh;
}
.container_btn{
    padding: 16px 25px;
    background-color:#DD0000;
    border-radius: 5px;
    margin-top: 5%;
    transition: padding 2s ease-out 0.5s ;
}
 .container_btn:hover{
    background-color: #fd64c5;
    padding: 26px 35px;

 }
 .container_btn a:hover{
    color: goldenrod;
 }
.container_btn a{
    text-decoration: none;
    color:#FFF;
}
.fa-solid {
    margin-right: 20px;
}

.container_img{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    width:50%;
    height: 100%;
}
.container_image img{
    width:100%;
}
/* main saction start here */

.main_section{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
main{
    display: flex;
    width:70vw;
}
.container_right_side{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin:auto;
}

.sidebar{
    background-color: black;
    width: 312px;
    height: 312px;
    padding: 20px;
    margin-right: 20px;
}
.sidebar .upcoming{
    width: 252px;
    height: 64px;
    background-color: #cdc8c8;
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    
}
.upcoming a{
    text-decoration: none;
    color:#6d6666;
    padding: 10px;
}
.sidebar .all-group{
    width: 252px;
    height: 64px;
    background-color: #cdc8c8;
    border-radius: 5px;
    text-align: center;
    margin-top:20px;
    padding-top: 20px;
}
.sidebar .all-group a{
    text-decoration: none;
    color:#6d6666;
    padding: 10px;
}
.sidebar .blog{
    width: 252px;
    height: 64px;
    background-color: #ff0000;
    border-radius: 5px;
    text-align: center;
    margin-top:20px;
    padding-top: 20px;
}
.sidebar .blog a{
    text-decoration: none;
    color:#cec9c9;
    padding: 10px
}
.player{
    width:100%;
    background-color:lightskyblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.players_img img{
    width:100%;
}
.player_btn {
    margin: 10px ;
}
.player_btn a{
    text-decoration: none;
    color:#000000;
    width:20px;
    height: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
}
.player h3{
    font-weight: 500px;
    padding: 10px;

}
.blog_stat{
    display: flex;
    justify-content: space-around;
}
.see_all{
    display: none;
    visibility: visible;
}
/* footer start  */


footer{
    width:100%;
    height: 100%;
    background-color: black;
    margin-top: 10vh;
}

.goal h1{
    width:50vw;
    border-bottom: 2px solid red;
    color:#cec9c9;
    text-align: center;
    margin-top: 10%;
    padding:20px;

}
.footer_wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.contact_info{
    display: flex;
    justify-content: space-around;
}
.contacts h3{
    color:#cec9c9;
    margin-bottom: 20px;

}
.footer_link{
    display: flex;
    justify-content: center;


}
.footer_icon{
    color: #FFFFFF;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width:400px;
}
.footer_icon a{
    margin-bottom: 20px;
}


/* responsive for tablet */



@media only screen and (max-width: 992px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
   
    }
    .container_right_side{
        display: grid;
        grid-template-columns: repeat(2, auto)
        margin-top:20px;
    }
    .sidebar{
        display: flex;
        border-radius: 10px;
        margin-right: 20px;
        width: 70vw;
    background-color: #ff000000;
   
    }
    .sidebar .upcoming{
        margin-bottom: -20px;
        margin-right: 5px;
    }
    .sidebar .all-group{
        margin-right: 5px
    }
    .sidebar .blog{
        margin-right: 5px;
    }
    .player_last_3{
        display:none;
        visibility: visible;
    }
    .see_all{
        display: inline-block;
        visibility: visible;
        padding: 10px 20px;
        background-color: red;
        text-align: center;
    }
    .see_all a{
     text-decoration: none;
     color: #cec9c9;
     font-size: 20px;
     padding: 0px;
    }
}
/* mobile veiw responsive */

@media only screen and (max-width: 688px) {
    .container_wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* margin-top: 50px; */
    }
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .container_image img{
        width: 390px;
    }
    .sidebar{
        display: grid;
        grid-template-columns: 1fr;
    }
    .container_right_side{
        display: grid;
        grid-template-columns: 1fr;
    }
    footer{
        height: 100%;
    }
    .contact_info{
        display: grid;
        grid-template-columns: 1fr;
       
    }
    .footer_wrapper{
        margin-bottom: 5%;
    }
    .contacts{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .contacts h3{
        color:#cec9c9;
        margin-bottom: 20px;

    }
    .see_all{
        display: none;
    }
}